.DS_Store
*.DS_Store
.idea/
__pycache__/
*__pycache__/
.venv
*.venv
tests
*node_modules
node_modules
langchain_deepagents/content-builder-agent/blogs 
agentscope_examples/deep_research_agent/deepresearch_agent_demo_env/

